
@font-face {
  font-family: 'MuseoSansCyrl-900Italic';
  src: url('MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrl-900Italic.woff') format('woff'), url('MuseoSansCyrl-900Italic.ttf')  format('truetype'), url('MuseoSansCyrl-900Italic.svg#MuseoSansCyrl-900Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
